body{
    overflow-x: hidden;
    background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}
.navbar{
    margin-left: -5%;
}



a{
    color: black;
    font-family: sans-serif;
}
li a:hover{
    text-decoration: none;
}

a.Sign-in{
    background-color: #002CFF;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.label{
    width:100%; 
    font-weight: bold; 
    font-size: 1.2rem; 
    font-family:times new roman; 
    color: black;
}
.contact{
    background-color: rgb(36, 36, 36);
    color: white;
}


.currency{
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    border:1px solid lightgray;
}
.country{
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    border:1px solid lightgray;
}
 #button{
    bottom: 0;
    margin-top: 5%;
 }
 .hidden {
  display: none;
}

.condition{
    font-size: 13px;
    color: #045FA3;
}
.text{
    background-color: #F6F6F6;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
} 

input[type=file]{
    background-color: #F6F6F6;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
input[type=number]{
    background-color: #F6F6F6;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
select{
    background-color: #F6F6F6;
   
}
.sell_message{
    height: 6.5rem;
    padding-top: 1rem;
    border-bottom: 1px solid white;
    resize: none;
    background-color: #F6F6F6;

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
